<h1>Bikes</h1>

<%= link_to "Carbon Bikes", filter: :by_carbon  %>
<% @bikes.each do |bike| %>
  <h3><%= bike.name %></h3>
  <p>Wheel Size: <%= bike.wheelsize %></p>
  <p>Carbon: <%= bike.carbon %></p>
<% end %>