<h1>Manufacturers</h1>
<h2><%=  link_to "New Manufacturer", '/manufacturers/new'  %></h2>
<% @manufacturers.each do |manufacturer| %>
  <h3><%= link_to "#{manufacturer.name}", "/manufacturers/#{manufacturer.id}" %> | <%= link_to "Update #{manufacturer.name}", "/manufacturers/#{manufacturer.id}/edit" %></h3>

  <p><%=  manufacturer.created_at %> </p>

<% end %>